%orangeBackground {
  background-color: $orange;
  color: white;
}

%whiteBackground {
  background-color: white;
  color: $orange;
}

%greenBackground {
  background-color: $green;
  color: white;
}

%border {
  border: 4px solid $orange;
}

%headerAndFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 3px;
  span {
    white-space: nowrap;
    overflow: hidden;
  }
}

%verticalText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
