@import "_variables";
@import "_mixins";
@import "_extends";

body {
  background-color: $bg;
  &:hover {
    background-color: white;
  }
  h1 {
    color: white;
    font-size: $size;
  }
}

.box {
  h2:nth-child(odd) {
    @include sexyTitle("odd");
  }
  h2:nth-child(even) {
    @include sexyTitle("even");
  }
}

a {
  @extend %button;
  text-decoration: none;
}

button {
  @extend %button;
}
