.grid {
  display: grid;
  color: white;
  gap: 5px;
  /*
  min-content: 컨텐츠를 최대한 줄여버림
  max-content: 컨텐츠 크기에 손실X
  */
  grid-template-columns: max-content min-content;
  grid-auto-rows: 100px;
  margin-bottom: 30px;
}

.item:nth-child(odd) {
  background-color: lightseagreen;
}
.item:nth-child(even) {
  background-color: mediumslateblue;
}

.secondGrid {
  display: grid;
  gap: 5px;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(5, minmax(max-content, 1fr));
}
