.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 100px repeat(2, 200px) 100px;
  /*
  위의 "repeat"함수는 아래의 코드를 대체할 수 있음.
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 200px 200px 100px;
  */
  grid-template-areas:
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer";
  /*
    위처럼 영역을 '그릴'수도 있음.
    이때, 아래에 각각 영역의 이름을 지정해 주어야 함 (grid-area 속성)
    */
  gap: 10px;
}

.header {
  background-color: red;
  /*
  각 요소의 grid-area를 지정하는 속성.
  */
  grid-area: header;
}

.content {
  background-color: peru;
  grid-area: content;
}

.nav {
  background-color: indigo;
  grid-area: nav;
}

.footer {
  background-color: skyblue;
  grid-area: footer;
}
