.father {
  /*
  flexbox와 같이 시동어 필요, 역시 부모 요소들을 통해 명령
  */
  display: grid;
  /*
  각 row와 column의 갯수 지정, 크기 지정
  */
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 150px 100px;
  /*
  그리드 요소별 간격 지정
  */
  column-gap: 10px;
  row-gap: 10px;
  /*
  gap: 10px 으로 대체 가능(한번에)
  */
}

.child {
  background: peru;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}
