.container {
  width: 100%;
  height: 100vh;
  display: grid;
  gap: 10px;
  /*
    fr (fraction) : grid에서 사용되는 단위.
    가용한 공간을 최대한 점유함. (grid안에서 가용한 공간!)

    grid-template-columns: 4fr repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    */

  grid-template:
    [header-start] "header header header header" 1fr [header-end] /* 각각 높이를 지정 */
    [content-start] "content content content nav" 2fr [content-end] /* 라인에 이름 붙이기도 가능 */
    [footer-start] "footer footer footer footer" 1fr [footer-end]
    / 1fr 1fr 1fr 1fr /* 너비는 이렇게 슬래시 이후 한꺼번에 지정, 하지만, repeat는 사용 불가!! */;
}

.header {
  background-color: darkred;
  grid-area: header;
}

.content {
  background-color: darkslategrey;
  grid-area: content;
}

.nav {
  background-color: fuchsia;
  grid-area: nav;
}

.footer {
  background-color: greenyellow;
  grid-area: footer;
}
