.father {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*
flex-shrink / flex-grow
반응형 디자인을 할 때 상당히 유용!
*/

.child {
  height: 200px;
  width: 300px;
  font-size: 30px;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background-color: black;
  /*
  flex-shrink옵션을 조절하여 어느 요소가 더 찌그러질 것인지 결정 가능
  모든 요소가 기본값 1
  */
  flex-shrink: 2;
}

.child:nth-child(3) {
  background-color: yellowgreen;
  /*
  flex-shrink의 반대로 작동하는 flex-grow
  여분의 공간을 모두 다 잡아먹으려고 함.
  기본값은 0
  */
  flex-grow: 1;
}

.child:nth-child(1) {
  flex-grow: 1;
  /*
  1과 3이 남은 공간을 나눠서 잡아먹게 됨.
  */
}
