/*
minmax : 얼마나 작게 혹은 크게 element가 될 수 있는지?
가장 큰 크기를 점유하길 원하면서, 줄어들 때의 최소값을 지정할 때 유용
*/
.father {
  display: grid;
  gap: 5px;
  /*각 요소의 최소, 최대값 지정*/
  grid-template-columns: repeat(10, minmax(100px, 1fr));
  grid-template-rows: repeat(4, 100px);
  grid-auto-columns: 100px;
}
.item:nth-child(odd) {
  background-color: darkseagreen;
}

.item:nth-child(even) {
  background-color: darksalmon;
}
