@import "./extends";
@import "./mixins";
@import "./variables";
@import "./reset";

p {
  white-space: pre-line;
  margin-bottom: 20px;
}

span {
  text-transform: uppercase;
  font-weight: 500;
  color: $grey;
}

ul {
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
}

.container {
  @extend %border;
  background-color: $black;
  width: 98%;
  height: 98%;
  margin: 1%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, minmax(min-content, 1fr));
  grid-template-rows: repeat(10, auto);

  .item {
    background-color: $white;
    padding: 20px;

    &:first-child {
      grid-column: 1 / 4;
      grid-row: span 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &:nth-child(2) {
      grid-column: 1 / 4;
      grid-row: 3 / span 2;
      padding: 0px;
      display: grid;
      background-color: $black;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 100%;
      grid-gap: 3px;

      .button {
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &:nth-child(3) {
      grid-column: 1 / 4;
      grid-row: 5 / span 6;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      ul {
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
    &:nth-child(4) {
      grid-column: 4 / span 3;
      grid-row: 1 / span 8;
      ul {
        font-size: 50px;
        margin-top: 60px;
        margin-bottom: 45px;
      }
      .none {
        margin-bottom: 0px;
      }
    }
    &:nth-child(5) {
      grid-column: 4 / span 3;
      grid-row: 9 / span 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &:nth-child(6) {
      grid-column: 7 / span 3;
      grid-row: 1 / span 8;
      background-image: url("https://img.hankyung.com/photo/202001/01.21396048.1.jpg");
      background-size: cover;
    }
    &:nth-child(7) {
      grid-column: 7 / span 1;
      grid-row: span 2;
      background-image: url("https://static.hubzum.zumst.com/2017/09/12/15/59c8ee4999e547828e83ca9558aaddb8.jpg");
      background-size: no-repeat;
    }
    &:nth-child(8) {
      background-image: url("https://subokim.files.wordpress.com/2017/02/shutterstock_65821615.jpg?w=640");
      background-size: contain;
    }
    &:nth-child(9) {
      grid-column: 8 / span 1;
      background-image: url("https://www.journalist.or.kr/data/photos/20190312/art_1552401779.jpg");
      background-size: cover;
    }
    &:nth-child(10) {
      grid-column: -4 / span 3;
      grid-row: 1 / span 4;
      background-image: url("https://www.cnews.co.kr/photo/photo/2020/05/27/202005271149490730295-2-142505.jpg");
      background-size: cover;
    }
    &:nth-child(11) {
      grid-column: -4 / span 2;
      grid-row: 5 / span 2;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTSGINLujJUF2wjJSnItNeRLUE2VCb_xHsiQ&usqp=CAU");
      background-size: cover;
    }
    &:nth-child(12) {
      grid-column: -2 / span 1;
      grid-row: 5 / span 1;
      background-image: url("https://insideobject.com/web/product/tiny/201905/0e36df8673e4e7947839d7b850d597b8.jpg");
      background-size: contain;
    }
    &:nth-child(13) {
      grid-column: -2 / span 1;
      grid-row: 6 / span 1;
      background-image: url("https://tumblbug-pci.imgix.net/e32b7aef51d5b44a6fdc1e7b8fa19fad8e6e2a8e/bd164ddba159d40cebbe2f148731d65269af434e/b9cc13d5871c48d5e414f2896723f6cd38d98289/0fc703c6-53de-4356-9ea3-3913ca1ac36b.jpg?ixlib=rb-1.1.0&w=1240&h=930&auto=format%2Ccompress&lossless=true&fit=crop&s=228d71a5dbda4fd0ba561f79d5ccd9d0");
      background-size: contain;
    }
    &:nth-child(14) {
      grid-column: -4 / span 1;
      grid-row: 7 / span 2;
      background-image: url("https://www.costco.co.kr/medias/sys_master/images/he7/h98/11834529644574.jpg");
      background-size: contain;
    }
    &:nth-child(15) {
      grid-column: -3 / span 2;
      grid-row: 7 / span 2;
      background-image: url("https://m.hbsofa.com/web/product/big/201902/55b272cfc46f245c9099f7e085e0e55a.jpg");
      background-size: cover;
    }
    &:last-child {
      grid-column: -5 / span 4;
      grid-row: 9 / span 2;
      background-image: url("https://images.homify.com/image/upload/a_0,c_fit,f_auto,q_auto,w_554/v1519137567/p/photo/image/2443557/1_%C3%9A_%C3%88%C2%B5%C2%B5.jpg");
      background-size: cover;
    }
  }
}
